In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import pickle
import json

In [17]:
df1 = pd.read_csv("/content/drive/MyDrive/Dataset/True.csv")

In [18]:
df1.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [42]:
sample_title = df1['title'][1]
sample_content = df1['text'][1]

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Dataset/train_data.csv")

In [ ]:
df.head()

                                       combined_text  target
0  tle protrump rocker tednugent fires back at co...       0
1  tle trump speaks with palestinian leader abbas...       1
2  tle sanders blasts misogynist bernie bro fans ...       0
3  tle no joke hillary clinton tries to censor la...       0
4  tle as trump visits un new york prepares for s...       1

In [9]:
def combine_text(title,content):
  return "tle "+title+" txt "+content

In [22]:
def remove_number(txt):
  result=""
  words=txt.split()
  for word in words:
    if word.isnumeric() == True:
      result += "10 "
    else:
      result+=word
      result+=" "
  return result.strip()

In [11]:
def remove_punct(test_str):
  punc = '''!()-[]{};:'"\,‘’<>./?@#$%^&*_~“”'''
  for ele in test_str:
      if ele in punc:
          test_str = test_str.replace(ele, "")
  return test_str

In [12]:
tokenizer_path = "/content/drive/MyDrive/Dataset/tokenizer_ann.pickle"
model_path = "/content/drive/MyDrive/Dataset/ann_model.hdf5"

In [13]:
model = tf.keras.models.load_model(model_path)
with open(tokenizer_path,"rb") as fp:
  tokenizer = pickle.load(fp)

In [40]:
def predict(text):
    seq = tokenizer.texts_to_sequences([text])
    seq = tf.keras.preprocessing.sequence.pad_sequences(seq, maxlen=100)
    result = model.predict(seq)
    if result[0][0]>0.5:
      return "This news is True"
    else:
      return "This news is Fake"

In [41]:
#Testing the pipeline
combined_text = combine_text(sample_title,sample_content)
combined_text = remove_number(combined_text)
combined_text = remove_punct(combined_text)
print(predict(combined_text))

This news is True